# Random Forest tree

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('Dataset/iris.csv')
df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
df.isnull().sum()

Sepal.Length    0
Sepal.Width     0
Petal.Length    0
Petal.Width     0
Species         0
dtype: int64

In [6]:
x = df.drop(columns=['Species'])
y = df['Species']

In [7]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train ,y_test=train_test_split(x,y,train_size=0.2, random_state=2)

In [16]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit_transform(y_train)

array([1, 0, 1, 1, 1, 1, 2, 1, 0, 0, 2, 1, 2, 0, 2, 0, 2, 2, 0, 1, 0, 2,
       1, 0, 2, 1, 0, 0, 1, 0])

In [17]:
from sklearn.ensemble import RandomForestClassifier 

rfc =RandomForestClassifier()
rfc.fit(x_train , y_train)

RandomForestClassifier()

In [18]:
y_pred = rfc.predict(x_test)
y_pred

array(['setosa', 'setosa', 'versicolor', 'setosa', 'setosa', 'virginica',
       'setosa', 'virginica', 'virginica', 'setosa', 'setosa', 'setosa',
       'setosa', 'setosa', 'versicolor', 'versicolor', 'setosa',
       'versicolor', 'virginica', 'versicolor', 'versicolor',
       'versicolor', 'virginica', 'versicolor', 'versicolor', 'setosa',
       'setosa', 'versicolor', 'setosa', 'virginica', 'versicolor',
       'setosa', 'versicolor', 'virginica', 'versicolor', 'setosa',
       'virginica', 'versicolor', 'versicolor', 'virginica', 'versicolor',
       'versicolor', 'virginica', 'versicolor', 'setosa', 'virginica',
       'setosa', 'versicolor', 'setosa', 'setosa', 'setosa', 'versicolor',
       'virginica', 'virginica', 'setosa', 'virginica', 'virginica',
       'virginica', 'versicolor', 'setosa', 'setosa', 'virginica',
       'versicolor', 'versicolor', 'virginica', 'versicolor',
       'versicolor', 'setosa', 'versicolor', 'setosa', 'virginica',
       'versicolor', 'versicolor', 'setosa', 'versicolor', 'versicolor',
       'versicolor', 'virginica', 'setosa', 'versicolor', 'setosa',
       'versicolor', 'virginica', 'setosa', 'versicolor', 'setosa',
       'setosa', 'setosa', 'virginica', 'virginica', 'setosa', 'setosa',
       'versicolor', 'virginica', 'versicolor', 'virginica', 'versicolor',
       'versicolor', 'virginica', 'setosa', 'virginica', 'virginica',
       'virginica', 'setosa', 'versicolor', 'setosa', 'setosa',
       'versicolor', 'virginica', 'versicolor', 'versicolor',
       'versicolor', 'versicolor', 'virginica', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'virginica'], dtype=object)

In [19]:
from sklearn.metrics import accuracy_score ,recall_score, confusion_matrix,precision_score

print("accuracy_score : " ,accuracy_score(y_test,y_pred))

print("recall_score : " ,recall_score(y_test , y_pred ,average='micro' ))
print("precision_score : ",precision_score(y_test , y_pred , average='micro'))

accuracy_score :  0.9166666666666666
recall_score :  0.9166666666666666
precision_score :  0.9166666666666666

In [20]:
print("confusion_matrix  \n" ,pd.DataFrame(confusion_matrix(y_test , y_pred)))

confusion_matrix
     0   1   2
0  39   0   0
1   0  39   0
2   0  10  32